/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(230, 192, 241);
}

/* Centered container */
.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
}

/* Title styles */
.title {
    background-color: #F56600;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: -1;
}

/* Visual container */
.visual {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 100px;
    padding: 30px 0 30px 0;
    margin: 0;
}

/* Visual item */
.visual > div {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.text {
    width: 100%;
    
}

#pie-charts-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    gap: 50px;
}

#pie-chart-women-container,
#pie-chart-men-container {
    justify-content: center;
    text-align: center;
}

#pie-chart-women,
#pie-chart-men {
    max-width: 100%;
    overflow: visible;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 12px;
    pointer-events: none;
}

