/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(39, 100%, 81%);
}

h4 {
    text-align: center;
}

#dashboard {
    display: flex;
    height: 100%;
    width: 100%;
}

#stackedBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

#pie-charts-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    justify-content: space-around;
    gap: 50px;
}

#pie-chart-age-container,
#pie-chart-gender-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: visible;
}

#pie-chart-age,
#pie-chart-gender {
    max-width: 100%;
    overflow: visible;
}

#pie-chart-gender-container {
    margin-left: 11%;
}


#secondRowOfStuff {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row2Thing {
    margin-left: 5%;
    margin-right: 5%;
    /*border: 1px solid #ccc;*/
}

